#DevelopMode {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0; }
  #DevelopMode .droper {
    position: absolute;
    top: 0;
    left: 70%;
    right: 0;
    bottom: 0;
    margin-left: 30px;
    border-left: 1px solid #ccc; }
  #DevelopMode .paper {
    position: absolute; }
    #DevelopMode .paper > div {
      height: 100%; }
    #DevelopMode .paper.editor {
      top: 85px;
      left: 20px;
      right: 30%;
      bottom: 20px; }
    #DevelopMode .paper .ace_editor {
      position: absolute;
      top: 48px;
      bottom: 0; }
  #DevelopMode .input-area {
    margin: 0 auto;
    width: 256px; }
  #DevelopMode .enter-btn {
    padding: 10px 0 20px;
    overflow: hidden; }
    #DevelopMode .enter-btn > div {
      float: right; }
