#DevelopMode {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0; }
  #DevelopMode .input-title {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #DevelopMode .paper {
    position: absolute; }
    #DevelopMode .paper.editor {
      top: 100px;
      left: 15px;
      right: 30%;
      bottom: 15px; }
    #DevelopMode .paper.droper {
      top: 15px;
      left: 70%;
      right: 15px;
      bottom: 15px;
      margin-left: 20px; }
    #DevelopMode .paper > div {
      height: 100%; }
    #DevelopMode .paper .ace_editor {
      position: absolute;
      top: 48px;
      bottom: 0; }
  #DevelopMode .input-area {
    margin: 0 auto;
    width: 256px; }
  #DevelopMode .enter-btn {
    padding: 10px 0 20px;
    overflow: hidden; }
    #DevelopMode .enter-btn > div {
      float: right; }
