#ListMode .btn-add {
  position: fixed;
  bottom: 15px;
  right: 15px; }
#ListMode .panel {
  width: 33.333%;
  float: left; }
  #ListMode .panel > div {
    cursor: pointer;
    padding-top: 56.25%;
    position: relative;
    background-position: center;
    background-size: cover; }
    #ListMode .panel > div:hover {
      opacity: 0.7; }
  #ListMode .panel .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 70%, transparent 100%);
    color: #fff;
    box-sizing: border-box; }
