#DropAsset {
  .list-box {
    position: absolute;
    bottom: 56px;
    width: 100%;
    top: 0;
    overflow: auto;

    & > div {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
      position: relative;
    }
  }

  .dragHandler {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15px;
    background: #eee;
    cursor: move;
  }

  .drop-area {
    margin-left: 25px;
  }
}
