#GenerateMode {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;


  .droper {
    top: 0;
    right: 70%;
    left: 0;
    bottom: 0;
    position: absolute;
    border-right: 1px solid #ccc;
  }

  .result {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20%;
    left: 30%;
    border-right: 1px solid #ccc;

    .device {
      position: absolute;
      width: 40%;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% ) rotateZ( 0deg );
      transition: .3s transform ease;
      &.rotation {
        transform: translate( -50%, -50% ) rotateZ( -90deg );
      }
    }
    .phone {
      width: 100%;
    }
    .viewer {
      position: absolute;
      top: 12.4%;
      bottom: 12.4%;
      left: 6.4%;
      right: 6.2%;
      background: center;
      background-size: cover;
      &.landscape {
        top: 29%;
        bottom: 29%;
        right: -28%;
        left: -28%;
        transform: rotateZ( 90deg );
      }
      & > iframe {
        width: 100%;
        height: 100%;
        border: none;
      }
    }
    .generate {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 57px;
      border-top: 1px solid #eee;
      & > button {
        height: 56px;
        width: 50%;
        float: left;
      }
    }
  }

  .contents {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 80%;
    overflow: auto;
    & > div {
      padding: 5px;
      width: 100%;
    }
    .current {
      background: #9ff;
      .panel {
        padding-top: 177.77%;
        cursor: default;
        opacity: 1;
      }
    }
    .panel {
      cursor: pointer;
      padding-top: 100%;
      position: relative;
      background-position: center;
      background-size: cover;
      transition: 0.3s padding-top ease;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
      & > div {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 5px;
        background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%);
        color: #fff;
        box-sizing: border-box;
      }
    }
  }
}
