#GenerateMode {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;


  .droper {
    top: 0;
    right: 70%;
    left: 0;
    bottom: 0;
    position: absolute;
    border-right: 1px solid #ccc;
  }

  .result {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20%;
    left: 30%;
    border-right: 1px solid #ccc;

    .device {
      position: absolute;
      width: 40%;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% ) rotateZ( 0deg );
      transition: .3s transform ease;
      &.rotation {
        transform: translate( -50%, -50% ) rotateZ( -90deg );
      }
    }
    .phone {
      width: 100%;
    }
    .viewer {
      position: absolute;
      top: 12.4%;
      bottom: 12.4%;
      left: 6.4%;
      right: 6.2%;
      background: center;
      background-size: cover;
      &.landscape {
        top: 29%;
        bottom: 29%;
        right: -28%;
        left: -28%;
        transform: rotateZ( 90deg );
      }
    }
  }
}
