#GenerateMode {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;

    .paper {
      position: absolute;

      &.droper {
        top: 15px;
        right: 70%;
        left: 15px;
        bottom: 15px;
      }

      & > div {
        height: 100%;
      }

    }
}
