#ListMode {
  .btn-add {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }

  .panel {
    width: 33.333%;
    float: left;

    & > div {
      padding-top: 56.25%;
      position: relative;
      background-position: center;
      background-size: cover;
    }
    .title {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 5px;
      background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%);
      color: #fff;
      box-sizing: border-box;
    }

    .tools {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba( 0, 0, 0, .7 );
    }
    &:hover .tools {
      display: block;
    }
  }
}
