#jthree {
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}

#room {
	position: fixed;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	cursor: pointer;
	background: url( <% index="0" type="file" title="部屋の見取り図" %> ) center;
	background-size: cover;
}

#loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url( "/share/jThird/img/loading0.gif" ) no-repeat center;
	background-color: #000;
	opacity: 0.7;
}

body > audio {
    position: fixed;
    bottom: 20px;
    width: 60%;
    left: 20%;
}
